ody{
    font-family: sans-serif;
    max-width: 600px;
    margin: 60px auto 0;
}
.TodoPage-title{
    font-size: 20px;
    line-height: 1.6;
    color: #453C52;
    font-weight: 600;
    margin-bottom: 12px;
}
.AddTodo{
    display: flex;
    height: 32px;
    align-items: stretch;
    margin-bottom: 24px;
}
.AddTodo-text{
    padding: 6px 20px;
    font-size: 14px;
    color: #453C52;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #BFB8CC;
}
.AddTodo-date{
    padding: 6px;
    font-size: 14px;
    color: #453C52;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #BFB8CC;
}
.AddTodo-button{
    padding: 6px 22px;
    font-size: 14px;
    color: white;
    background-color: #48BB78;
    border-radius: 4px;
    border: 1px solid transparent;
}
.TodoSection{
    margin-bottom: 20px;
}
.TodoSectionTitle{
    display: flex;
    color: #453C52;
    align-items: center;
    margin-bottom: 8px;
}
.TodoSectionTitle-text{
    font-size: 14px;
    font-weight: 600;
    margin-right: 8px;
    line-height: 1.4;
}
.TodoSectionTitle-remainingCount{
    font-size: 12px;
}
.TodoItem{
    font-size: 14px;
    margin-left: 8px;
    margin-bottom: 6px;
    color: #453C52;
}
.todoItem-dueDate{
    font-size:10px;
    color:#453C52;
    margin-left: 10px;
}
.TodoItem-Container{
    display: flex;
    padding: 2px 8px;
    align-items: center;
}
.TodoItem-checkbox{
    width: 20px;
    height: 20px;
}
.TodoDetail{
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 400;
    font-size: 14px;
}
/* .TodoItem-overdueLabel{
    color: rgb(255, 53, 53);
    font-weight: 200;
} */
.TodoDate{
    font-weight: 100;
    font-size: 14px;
    font-size: 12px;
    margin-left: 10px;
}
.TodoItem-delete{
    margin-left: 8px;
    visibility: hidden;
}
.TodoItem-Container:hover .TodoItem-delete{
    visibility: visible;
}
.TodoItemContainer:hover{
    background-color: #F1EDF7;
}
.TodoItem-delete > img {
    width: 16px;
}